body {
    margin: 0;
    color: #ffffff;
    background-color: #00051a;
}

html {
    height: 100vh;
}

.show-nav {
    transform: translateX(50vw);
}

.hide-nav {
    transform: translateX(-50vw);
}

nav {
    height: 100svh;
    position: absolute;
    transition: 0.5s ease-in-out;
    background-color: #ffffff28;
    backdrop-filter: blur(15px);
}

.nav-list {
    gap: 1rem;
    margin: 0;
    padding: 0;
    display: grid;
    list-style: none;
    padding-block: 2rem;
}

.nav-item {
    border-radius: 1rem 0 0 1rem;
}

.nav-item.active {
    position: relative;
    background: #00051a;
}

.nav-item.active::before,
.nav-item.active::after {
    --border-radius: 0.8rem;
    
    right: 0;
    content: '';
    width: var(--border-radius);
    height: var(--border-radius);
    background: transparent;
    position: absolute;
    border-radius: 0.2rem;
}

.nav-item.active::before {
    border-radius: 0 0 0.8rem 0;
    box-shadow: 2px 2px 0 2px #00051a;
    top: calc(var(--border-radius) * -1);
}

.nav-item.active::after {
    border-radius: 0 0.8rem 0 0;
    box-shadow: 2px -2px 0 2px #00051a;
    bottom: calc(var(--border-radius) * -1);
}
.nav-link {
    font-weight: 600;
    font-family: "Onest", "Urbanist", "Poppins";
}