{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f8dced6eec.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'WinterMogotsi/index.css' %}">
    <title>Winter Mogotsi - Front-End Developer</title>
</head>
<body>
    <button type="button" id="nav-toggle" class="d-md-none"><i class="fa-solid fa-bars"></i></button>
    <header>
        <div class="container-fluid header-container">
            <img src="{% static 'WinterMogotsi/images/winter-placeholder.png' %}" class="img-fluid floating-head" alt="Rhulani Mogotsi, Full Stack Developer">
            <h1 class="header-title text-center mt-5">Rhulani Mogotsi</h1>
            <h3 class="header-tagline text-center mt-5">Full-Stack Developer</h3>
            <pre class="bg-code">
                let winter = {
                    hired: false
                };

                while (!winter.hired) {
                    winter.hired = true
                    if winter.hired {
                        print("Congratulations")
                    } else {
                        loop will continue until winter is hired
                    }
                }
            </pre>
            <div class="social-bar">
                <a href="https://github.com/CodeMasterWinter" target="_blank" class="social-link px-2">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://twitter.com/RKMogotsi" target="_blank" class="social-link px-2">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a href="https://www.linkedin.com/in/rhulani-mogotsi-7bab64286" target="_blank" class="social-link px-2">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
        </div>
    </header>
    <nav id="responsive-nav" class="hide-nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="#" class="nav-link">Hobbies</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Experience</a>
            </li>
            <li class="nav-item active">
                <a href="{% url 'home' %}" class="nav-link">Winter Mogotsi</a>
            </li>
            <li class="nav-item ">
                <a href="#" class="nav-link">My Work</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'contact' %}" class="nav-link">Contact</a>
            </li>
        </ul>
    </nav>
    <nav id="nav" class="">
        <ul class="nav-list">
            <li class="nav-item m-0">
                <a href="#" class="nav-link">Winter/Hobbies_</a>
            </li>
            <li class="nav-item m-0">
                <a href="#" class="nav-link">Winter/Experience_</a>
            </li>
            <li class="nav-item m-0">
                <a href="{% url 'home' %}" class="nav-link active">Winter Mogotsi_</a>
            </li>
            <li class="nav-item m-0">
                <a href="#" class="nav-link">Winter/My Work_</a>
            </li>
            <li class="nav-item m-0">
                <a href="{% url 'contact' %}" class="nav-link">Winter/Contact_</a>
            </li>
        </ul>
    </nav>
    <script src="{% static 'WinterMogotsi/index.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>